* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  height: 100%;
  width: 100%;
}

.main {
  height: 100vh;
  width: 100vw;
  background-color: rgba(29, 29, 29, 0.95);
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.note-container {
  
  padding-inline: 30px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding-top: 5px;
  flex-direction: column;
  gap: 20px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  height: max-content;
  overflow: scroll;
  scrollbar-width: none;
}

.note {
  position: relative;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 15px;
  transition: transform 0.2s;

  &:hover {
    transform: translateY(-5px);
  }

  .title {
    font-size: 1.5rem;
    font-weight: bold;
    color: #333;
  }

  .description {
    font-size: 1rem;
    color: #666;
  }
}
.icons {
  display: flex;
  flex-direction: column;
  gap: 10px;
  position: absolute;
  right: 5px;
  top: 10px;
}

.delete {
  position: absolute;
  top: 10px;
  right: 5px;
  color: black;
  height: 50px;
  transition: all 0.4s;

  &:hover {
    transform: rotateY(180deg) scale(1);
  }
}

.popup {
  position: absolute;
  backdrop-filter: blur(3px);
  z-index: 100;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  .inner {
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 70vw !important;
    height: 70vh;

    border: 1px solid #ccc;
  }
}
